<div id="fh5co-event" class="fh5co-bg" style="background-image:url(images/img_bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>Eventos</h2>
            </div>
        </div>
        <div class="row">
            <div class="display-t">
                <div class="display-tc">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="event-wrap animate-box">
                                <h3>Ceremonia</h3>
                                <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span>Inicio 5:00 PM</span>
                                    <span>Fin 6:30 PM</span>
                                </div>
                                <div class="event-col">
                                    <i class="icon-location-pin"></i>
                                  <span>Catedral Ibagué.</span>
                                  <span>Cll 10 Kr 3ra Esquina</span>
                                </div>
                                <p>"Hablen de lo que cada uno espera de un eventual matrimonio, de su modo de entender lo que es el amor y el compromiso, de lo que se desea del otro, del tipo de vida en común que se quisiera proyectar". (Encíclica Amoris Laetitia).</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="event-wrap animate-box">
                                <h3>Recepción</h3>
                                <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span>Inicio 7:00 PM</span>
                                    <span>Fin 10:00 PM</span>
                                </div>
                                <div class="event-col">
                                    <i class="icon-location-pin"></i>
                                    <span>Felo La Sirena</span>
                                    <span>Paralela Carrera 5 #79-2 / Piso 2</span>
                                </div>
                                <p>"Habla inglés, besa como un francés, conduce como un alemán, vístete como un italiano, gasta como un árabe y festeja como un caribeño, por ello viniste por el amor,  pero quédate en nuestra recepción". (John Williams).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
