<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>David &amp; Laura</h1>
                      <h2>En compañía de nuestras familias tenemos el gusto de invitarlos a celebrar nuestro matrimonio. No hay mejor regalo que su compañía. Los esperamos!!!</h2>
                        <h2>14 Diciembre de 2024</h2>
                        <div class="simply-countdown simply-countdown-one"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
